// 圆点背景图
polka($size, $dot, $base, $accent)
	background: $base
	background-image: radial-gradient($accent $dot, transparent 0), 
					  radial-gradient($accent $dot, transparent 0)
	background-size: $size $size
	background-position: 0 0, ($size/2) ($size/2)

// 棋盘
checkerboard($size, $base, $accent = rgba(0, 0, 0, .25))
	background: $base
	background-image: linear-gradient(45deg, $accent 25%, transparent 0, transparent 75%, $accent 0), 
	                  linear-gradient(45deg, $accent 25%, transparent 0, transparent 75%, $accent 0)
	background-position: 0 0, $size $size
	background-size: (2*$size) (2*$size)

// 切角
beveled-corners($bg, $tl = 0, $tr = $tl, $br = $tl, $bl = $tr)
	background: $bg
	background: linear-gradient(135deg, transparent $tl, $bg 0) top left,
				linear-gradient(225deg, transparent $tr, $bg 0) top right,
				linear-gradient(-45deg, transparent $br, $bg 0) bottom right,
				linear-gradient(45deg, transparent $bl, $bg 0) bottom left
	background-size: 50% 50%
	background-repeat: no-repeat

// 折角
folded-corner($background, $size, $angle = 30deg)
	position: relative
	background: $background
	background: linear-gradient($angle - 180deg, transparent $size, $background 0)
	border-radius: .5em
	
	$x = $size / sin($angle)
	$y = $size / cos($angle)
	
	&::before
		content: ''
		position: absolute
		top: 0
		right: 0
		background: linear-gradient(to left bottom, transparent 50%, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .4)) 100% 0 no-repeat
		width: $y
		height: $x
		transform: translateY($y - $x) rotate((2*$angle) - 90deg)
		transform-origin: bottom right
		border-bottom-left-radius: inherit
		box-shadow: -.2em .2em .3em -.1em rgba(0, 0, 0, .2)