@import './stylus/background'

div
	width: 200px
	height: 200px
	margin: 10px

.polka
	polka(30px, 30%, #655, tan)
	
.checkerboard
	checkerboard(15px, #58a, tan)
	
.beveled-corners
	beveled-corners(#58a, 15px)
	
.folded-corner
	folded-corner(#58a, 2em, 30deg)